<section id="todos">
  <header>
    <h2><%= @list[:name] %></h2>
  </header>
</section> 

<form action="/list/<%= @number %>" method="post">
  <dl>
    <dt>
      <label for="todo_item">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo_item" placeholder="Todo text" type="text" value="">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

